/* Global Styles/Resets */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

h1, h2, p {
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* Typography */
.title {
  font-size: 2rem;
  line-height: 2.2rem;
  text-align: center;
}

.title span {
  color: darkmagenta;
}

.subheader {
  font-size: 1.5rem;
  color: darkmagenta;
}

/* Layout */
.container {
  width: 90%;
  max-width: 960px;
  margin: 2em auto;
}

.col {
  width: 100%;
}

/* Content Sections */
.section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1em auto 2em auto;
}

.col-dark {
  background-color: darkslateblue;
  color: #fff;
  padding: 1em;
  border-radius: 8px;
}

.col-dark p {
  margin-bottom: 0;
}

/* Tablet/Desktop Screens */
@media (min-width: 960px) {
  .section {
    flex-direction: row;
  }

  .col-1 {
    width: 23%;
  }
  
  .col-2 {
    width: 48%;
  }
  
  .col-3 {
    width: 73%;
  }

  .title {
    font-size: 3rem;
    line-height: 3.2rem;
  }
}