:root {
  --orange: #F18119;
  --gray-100: #989898;
  --gray-200: #5A5A5A;
  --gray-300: #404040;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-align: center;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

/* =========================================
 * Layout
 * ========================================= */

.postcard {
  display: flex;
  flex-direction: column;
}

.intro {
  background: url(images/dark-ribs.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 358px;
}

.eyebrow {
  order: -2;
}

.main-content {
  padding: 2em 1em;
}

@media (min-width: 768px) {
  .postcard {
    flex-direction: row;
  }

  .intro {
    min-width: 60%;
    height: 100vh;
  }
}

/* =========================================
 * Typography
 * ========================================= */

strong {
  font-weight: 900;
}

small {
  font-size: 0.625rem;
}

.eyebrow,
.intro-subtitle,
.main-subtitle {
  text-transform: uppercase;
  color: var(--orange);
}

.intro-title {
  font-size: 2.25rem;
  font-weight: 300;
  padding: 0 1em;
  color: white;
  line-height: 1;
}

.intro-subtitle,
.main-title {
  font-size: 1.3125rem;
  font-weight: 900;
  margin-bottom: 0;
}

.main-subtitle {
  font-weight: 900;
}

.disclaimer,
.main-text {
  font-weight: 300;
}

.main-title {
  color: var(--gray-300);
}

.main-text {
  color: var(--gray-200);
}

.disclaimer {
  color: var(--gray-100);
}

@media (min-width: 768px) {
  body {
    font-size: 1.125rem;
  }

  .intro-title {
    font-size: 3.5rem;
  }

  .intro-subtitle,
  .main-title {
    font-size: 1.75rem;
  }
}

/* =========================================
 * Components
 * ========================================= */

 .registration-form {
   display: flex;
   flex-direction: column;
 }