@import './normalize';

$primary-color-100: #F8F8F8;
$primary-color-200: #EBEBEB;
$primary-color-300: #707070;
$primary-color-400: #717171;
$accent-color-100: #1792D2;
$accent-color-200: #143774;

$sans-serif-font-stack: Ubuntu, Helvetica, Arial, sans-serif;
$serif-font-stack: Lora, Georgia, sans-serif;

$main-breakpoint: 675px;

@import './base';
@import './layout';
@import './typography';

@import './components/header';
@import './components/footer';
@import './components/post';
@import './components/sidebar-widget';