* {
  box-sizing: border-box;
}

body {
  font-family: $sans-serif-font-stack;
}

.site-title {
  h1 {
    margin: 0;
    font-family: $serif-font-stack;
    font-size: 2rem;
    font-weight: normal;
    color: $accent-color-200;
  }

  span {
    font-family: $sans-serif-font-stack;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $accent-color-100;
    letter-spacing: 0.12rem;
  }
}

.sidebar-widget {
  .widget-about-me-text {
    font-size: 0.875rem;
    font-weight: 300;
    color: $accent-color-200;
    margin: 1em 0;
  }

  .widget-title,
  .widget-recent-post-title {
    font-size: 1.125rem;
    color: $accent-color-200;
  }

  .widget-title {
    font-family: $sans-serif-font-stack;
    text-transform: uppercase;
    letter-spacing: 3.6px;
  }

  .widget-recent-post-title {
    font-family: $serif-font-stack;
    margin: 1em 0 1.5em 0;
  }
}

.footer {
  p {
    color: white;
    font-size: 1.125rem;
    text-align: center;
    margin-bottom: 0.5em;
  }
}