* {
  box-sizing: border-box;
}

body {
  font-family: $sans-serif-font-stack;
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-family: $serif-font-stack;
  font-weight: normal;
  color: $accent-color-200;
  margin-top: 0;
}

.site-title {
  h1 {
    margin: 0;
    font-size: 2rem;
  }

  span {
    font-family: $sans-serif-font-stack;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $accent-color-100;
    letter-spacing: 0.12rem;
  }
}

.site-nav {
  a {
    color: $primary-color-400;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    padding-bottom: 0.5em;
  }

  a:hover,
  a:focus {
    color: $accent-color-200;
  }

  a.current-page {
    border-bottom: 2px solid $primary-color-400;
  }
}

.page,
.posts {
  font-weight: 300;
  color: $primary-color-300;

  strong {
    font-weight: bold;
  }
  
  a {
    color: $accent-color-100;
  }
  
  a:hover,
  a:focus {
    color: $accent-color-200;
    text-decoration: none;
  }
}

.posts {
  .post-title {
    font-size: 1.5rem;
  }

  .post-meta {
    font-size: 0.875rem;
  }

  .post-read-more-link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2.8px;
    margin-top: 1.5em;
  }

  .post-read-more-link:hover,
  .post-read-more-link:focus {
    color: $accent-color-200;
    text-decoration: underline;
  }
}

.page {
  h3 {
    color: $accent-color-100;
  }
}

.sidebar-widget {
  .widget-about-me-text {
    font-size: 0.875rem;
    font-weight: 300;
    color: $accent-color-200;
    margin: 1em 0;
  }

  .widget-title,
  .widget-recent-post-title {
    font-size: 1.125rem;
    color: $accent-color-200;
  }
  
  .widget-title {
    font-family: $sans-serif-font-stack;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3.6px;
  }
  
  .widget-recent-post-title {
    font-family: $serif-font-stack;
    font-weight: normal;
    margin: 1em 0 1.5em 0;
  }
}

.footer {
  p {
    color: white;
    font-size: 1.125rem;
    text-align: center;
    margin-bottom: 0.5em;
  }
}