:root {
  --orange: #F18119;
  --gray-100: #989898;
  --gray-200: #5A5A5A;
  --gray-300: #404040;
  --carousel-width: 500px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 200px 0;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-align: center;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

.carousel {
  margin: 0 auto;
  width: var(--carousel-width);
}

.slides {
  display: flex;
  gap: 1rem;
  overflow: hidden;
}

.photo-card {
  width: 500px;
}

.photo-card img {
  width: 100%;
  height: auto;
}

.nav {
  width: var(--carousel-width);
  margin: 3rem auto;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.nav button {
  background-color: #333;
  border: 0;
  outline: 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  padding: .75rem 2rem;
  border-radius: 5%;
}

.nav button:hover {
  background-color: #000;
  cursor: pointer;
}