/**********************************************
 * Main
 *********************************************/
 .outter {
  width: 400px;
  display: flex;
  flex-direction: column-reverse;
}

.inner p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;  
}

.inner p:not(:first-child) {
  display: none;
}

.switch {
  appearance: none;
  visibility: hidden;
}

.switch::after {
  visibility: visible; 
  white-space: nowrap;
  content: "Read More";
  display: block;
}

.switch:hover {
  cursor: pointer;
  text-decoration: underline;
}

.switch:checked::after {
  content: "Read Less";
}

.switch:checked ~ .inner {
  -webkit-line-clamp: unset;
}

.switch:checked ~ .inner p {
  display: block;
}

/**********************************************
 * Page Styles
 *********************************************/
body,
.switch {
  font-family: Roboto, 'Open Sans', Helvetica, Arial, sans-serif;
}

.intro {
  background-color: lightgreen;
  margin: 50px auto;
  padding: 2rem;
  max-width: 60%;
  border-radius: 10px;
}

.outter {
  margin: 0 auto 100px;
}

.switch::after {
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: -4px;
  color: blue;
}