/**********************************************
 * Main
 *********************************************/
 .outter {
  width: 400px;
  display: flex;
  flex-direction: column-reverse;
}

.inner {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;  
}

.switch {
  width: 0;
  height: 0;
}

.switch::after {
  white-space: nowrap;
  content: "Read More";
  display: block;
}

.switch:hover {
  cursor: pointer;
  text-decoration: underline;
}

.switch:checked::after {
  content: "Read Less";
}

.switch:checked ~ .inner {
  -webkit-line-clamp: unset;
}

/**********************************************
 * Page Styles
 *********************************************/
body,
.switch {
  font-family: Roboto, 'Open Sans', Helvetica, Arial, sans-serif;
}

.intro {
  background-color: lightgreen;
  margin: 50px auto;
  padding: 2rem;
  max-width: 60%;
  border-radius: 10px;
}

.outter {
  margin: 0 auto 100px;
}

.switch::after {
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: -4px;
  color: blue;
}