:root {
  --darkest: #000000;
  --darker: #002b46;
  --default: #006293;
  --lighter: #00a1ec;
  --lightest: #00eaff;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--darkest);
  color: var(--lightest);
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  margin: 0;
}

h1, p {
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.header {
  background-color: var(--darker);
  padding: 2.5em 0;
}

.title {
  margin: 0;
}

.nav-links {
  margin: 0;
  padding: 1em; 
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  justify-content: space-around;
}

.nav-links a {
  background-color: var(--lightest);
  color: var(--darker);
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  padding: 0.3em 0.7em;
  border-radius: 5px;
}

.nav-links a:focus,
.nav-links a:hover {
  background-color: var(--darker);
  color: var(--lightest);
}

.content {
  padding: 2em 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.gallery-item {
  max-width: 300px;
  line-height: 0;
  box-shadow: 2px 2px;
  transition: transform 0.2s;
}

.gallery-item:hover {
  transform: scale(1.4);
  box-shadow: 0 0 50px #000;
}