.post {
  padding-bottom: 2em;
}

.featured-post {
  border-bottom: 1px solid $primary-color-300;
  margin-bottom: 2em;

  .post-image {
    height: 300px;
    width: 100%;
  }
}

.recent-post {
  display: flex;
  flex-direction: column;
  
  @media (min-width: $main-breakpoint) {
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;

    .secondary-content {
      min-width: 150px;
      width: 35%;
    }

    .main-content {
      width: 63%;
    }

    .post-image {
      height: 250px;
    }
  }
}
